//- Все примеси в этом файле должны начинаться c имени блока (menu-button)

mixin menu-button

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' menu-button--' + modsList[i].trim();
      }
    }

  .menu-button&attributes(attributes)
    +burger
