extends ../pug/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Окантовка'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'
  - activeItem = 'fin-plan'

block content
  div(style='height: 2000px') content
