@import "../../scss/mixins/rem";

.grid {
  width: calc(100% - 2rem);
  margin: 0 auto;

  @media screen and (min-width: $screen-t) {
    width: calc(100% - 4rem);
  }

  @media screen and (min-width: $screen-d) {
    width: calc(100% - 5rem);
  }

  &__columns {
    @media screen and (min-width: $screen-tl) {
      display: grid;
      grid-template-columns: rem(192px) auto;
      gap: rem(40px);
    }
  }

  &__col {
    &--nav {
      display: none;

      @media screen and (min-width: $screen-tl) {
        display: block;
      }
    }
  }
}
