//- Все примеси в этом файле должны начинаться c имени блока (burger)

mixin burger
  svg.burger(width='48', height='48', viewBox='0 0 48 48', fill='none')&attributes(attributes)
    path.burger__line.burger__line--top(d='M17 18H33C33 18 36 18 36 21C36 24 33 24 33 24H15')
    path.burger__line.burger__line--middle(d='M15 24H33')
    path.burger__line.burger__line--bottom(d='M29 30H15C15 30 12 30 12 27C12 24 15 24 15 24H33')
