@font-face {
  font-weight: 400;
  font-family: "PT Root UI";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/pt-root-ui_regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "PT Root UI";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/pt-root-ui_medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PT Root UI";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/pt-root-ui_bold.woff2") format("woff2");
}
